{% extends 'table.html' %}
{% block filter %}
<form class="form-inline" style="margin:20px">
    <div class="form-row align-items-center">
      <div class="row">
	<div class="col-auto form-group">
	  <label for="DownloadedGroup">Downloaded</label>
	  <select class="form-control" id="DownloadedGroup">
	    <option selected>True</option>
	    <option>False</option>
	  </select>
	</div>
	<div class="col-auto form-group">
	  <label for="firebasedGroup">Firebased</label>
	  <select class="form-control" id="firebasedGroup">
	    <option selected>True</option>
	    <option>False</option>
	  </select>
	</div>
	<div class="col-auto form-group">
	  <label for="categoryGroup">Category</label>
	  <select class="form-control" id="categoryGroup">
	    {% for cat in categories %}
	    <option>{{ cat['name'] }}</option>
	    {% endfor %}
	  </select>
	</div>
	<button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </form>
{% endblock %}
