{% extends 'table.html' %}
{% block filter %}
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions2.js') }}"></script>

<form class="form-inline" style="margin:20px">
    <div class="form-row align-items-center">
      <div class="row">
	<div class="col-auto form-group">
	  <label for="vulnerable">Vulnerable</label>
	  <select class="form-control" id="vulnerable">
	    <option selected>All</option>
	    <option>True</option>
	    <option>False</option>
	  </select>
	</div>
	<div class="col-auto form-group">
	  <label for="origin">Origin</label>
	  <select class="form-control" id="origin">
	    <option selected>All</option>
	    <option>github</option>
	    <option>apkpure</option>
	  </select>
	</div>
	<button type="button" class="btn btn-primary" onclick="filter()">Filter</button>
      </div>
    </div>
  </form>
{% endblock %}
